[Desktop Entry]
Name=Chess Comp Stomp with Hacks
Exec=
Type=Application
Icon=io.github.dtsudo.ChessCompStompWithHacks
Categories=Game;StrategyGame;
X-KDE-FormFactor=desktop;handset;
